* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: rgb(236, 236, 236);
}

.modal-style {
  margin-left: -300px;
  width: 65.3rem;
  background-color: rgb(231, 236, 240);
}

.modal-title h1 {
  margin-left: -50rem;
}
.footer {
  margin-top: -25px;
  display: flex;
  justify-content: center;
}

.text-area-class {
  width: 150px;
  height: 60px;
  border: 1px solid red;
}

.all-fun {
  display: flex;
  justify-content: space-between;
  width: 400px;
  margin-left: 547px;
  padding: 5px;
  margin-top: -15px;
}

.text-box {
  width: fit-content;
  height: fit-content;
  position: absolute;
  background-color: black;
  color: aliceblue;
  left: 463px;
  bottom: 390px;
  padding: 0.5rem;
}

.hand-pointer {
  cursor: grab;
}

.drag-icon {
  padding-left: 0.25rem;
}

.text-box {
  width: fit-content;
  height: fit-content;
  position: absolute;
  background-color: black;
  color: red;
  /* left: 463px;
  bottom: 390px; */
  font-size: 1.5rem;
  height: fit-content;
  border: none;
}

.input-type {
  cursor: pointer;
}
.footer{
  padding: 10px;
  margin-top:-20px ;
}
.boxes{
  border: dotted;
}
.main{
  margin-top: -30px;
  margin-left: -10px;
  /* border: 1px solid rebeccapurple; */
}
.text-area{
  margin-right:-2px ;
}

.rec{
  margin-top: 5px;
  width: 25px;
  height: 25px;
  border: 1px solid red;
  cursor: pointer;
}

.color{
  width: 27px;
  height: 27px;
  border: none;
}

/* https://us02web.zoom.us/j/88158183176?pwd=NVdaeE1KMmRDVjZnalcvbnEzaUwxQT09 */


/* css for bug - Prabhu */
.container-tools .submit_btn{
  margin-right: 10px;
  width: 120px;
  background-color: #2F80ED;
}
.container-tools .cancel_btn{
  margin-right: 10px;
  width: 120px;
  color: #EB5757;
  border-color: #EB5757;
}
.container-tools{
  display: flex;
  width: 100%;
  align-items: center; 
  justify-content: right; 
}
.butns{
  display: flex;
  /* width: 250px; */
  width: 180px;
  align-items: center; 
  justify-content: right; 
  margin-left: 20px;
}
.tools_contain {
  display: flex;
  width: 100%;
  align-items: center; 
  justify-content: space-evenly;
  border: .63px solid #BDBDBD; 
  border-radius: 10px;
  margin-left: 100px;
  padding: 5px;
  font-size: 20px;
}
.redo{
  display: flex;
  font-size: 17px;
}
.modal-title{
  width: 100%;
}
.modal-style{
  background-color: #FFFFFF;
  border-radius: 10px;
}
.main{
  border: solid 1px #BDBDBD;
  border-radius: 10px;
}
.footer{
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 15px 15px 20px 15px !important;
}
.footer .text-area{
  min-height: 100px !important;
}
.modal-header{
  padding: 15px 25px !important;
}

.button_bug{
bottom: 10px !important;
right: 30px !important;
border-radius: 30px !important;
}
.tools_contain .anticon-undo{
transform: rotate(135deg);
}
.color_inpt{
height: 30px;
width: 30px;
border: 3px #e5e5e5 solid;
}
.color_inpt{
height: 30px;
width: 30px;
border: 3px #e5e5e5 solid;
}
.canvas_ele{
width: 100% !important;
height: 100% !important;
}
.scrollable_canvas{
padding: 5px;
}
#draw:active { 
  cursor: crosshair;
}
